*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    /* scroll-behavior: smooth; */
}   


.sticky-nav{
    background-color: #ffffff;
    /* position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px; */
} 
.menu{
    display: flex;
    padding: 30px 70px;  
    background-color: #ffffff;
}
.menu-1{
    list-style-type: none;
    display: inline;
}
.positivus-icon{
    padding-left: 0px;
    width: 100%;
}
.menu-link{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    color: #000000;   
}
.navigation-bar{
    margin-left: 320px; 
}
#nav-1{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
#nav-2{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
#nav-3{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
#nav-4{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
#nav-5{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
#quote{
    display: inline;
}
#quote-1{
    margin-left: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    border-width: 1px;
    background-color:#fdfdfd;
}
.navigate{
    display: flex; 
    margin-top: 10px;   
}
.dig-1{
    margin-left: 80px;
}
.digfont{
    font-size: 60px;
    color: #191A23;
}
.dig-2{
    margin-left: 80px;    
}
#dig-3{
    color: #fdfdfd;
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 10px;
    padding: 15px 25px;
    border-width: 0px;
    background-color:#191A23;
}
.consultation-link{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff; 
}
.illustration{
    margin-left: 100px;    
}
.logo{
    display: flex;
    list-style: none;
}
#logos{
    display: inline;
}
#logo-1{
    display: inline;
}
#logo-2{
    display: inline;
}
#logo-3{
    display: inline;
}
#logo-4{
    display: inline;
}
#logo-5{
    display: inline;
}
#logo-6{
    display: inline;
}
.amazon-logo{
    margin-left: 60px;    
}
.dribble-logo{
    margin-left: 40px   
}
.hubspot-logo{
    margin-left: 40px;   
}
.notion-logo{
    margin-left: 60px;    
}
.netflix-logo{
    margin-left: 60px;    
}
.zoom-logo{
    margin-left: 60px;
}
.services{
    display: flex;
    margin-bottom: 20px;
}
.services-1{
    margin: 70px 20px 0px 80px;
    background-color: #b9ff66;
    color: #000000;
    padding: 5px 5px;
    border-radius: 8px;
    display: inline-block;    
}
.serve{
    font-size: 30px;
}
.services-2{
    margin-top: 70px;
}
.service-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 50px;    
}
.card1{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #F3F3F3;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 40px 40px 50px;
    /* border-width: 25px; */
}
.card2{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #B9FF66;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 40px 40px 40px 50px;
}
.card3{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #191A23;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 40px 40px 50px;
}
.card4{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #F3F3F3;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 40px 40px 50px;
}
.card5{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #B9FF66;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 40px 40px 50px;
}
.card6{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: #191A23;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 40px 40px 50px;
}
.card-image1{
    margin-left: 40px;
    margin-top: 10px;
}
.card-image2{
    margin-left: 40px;
    margin-top: 30px;
}
.card-image3{
    margin-left: 40px;
    margin-top: 10px;
}
.card-image4{
    margin-left: 50px;
    margin-top: 10px;
}
.card-image5{
    margin-left: 60px;
    margin-top: 10px;
}
.card-image6{
    margin-left: 50px;
    margin-top: 10px;
}
.flexicon{
    display: flex;
    margin-top: 120px;
}
.learn-btn{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
}
.service-texts1{
    font-weight: bold;
    font-size: 20px;
    background-color: #B9FF66;
    padding: 5px 5px;
    border-radius: 8px;
}
.service-texts2{
    font-weight: bold;
    font-size: 20px;
    background-color: #B9FF66;
    padding: 1px 1px;
    border-radius: 8px;
    width: fit-content;
    margin-top: -5px;
}
.flexicon2{
    display: flex;
    margin-top: 120px;
}
.learn-btn2{
    /* padding-left: 5px; */
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
}
.service-texts3{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 8px;
}
.service-texts4{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    padding: 1px 1px;
    border-radius: 8px;
    width: fit-content;
    margin-top: -5px;
}
.learn-white{
    color: #ffffff;
}
.flexicon3{
    display: flex;
    margin-top: 120px;
}
.flexicon4{
    display: flex;
    margin-top: 120px;
}
.proposal{
    display: flex;
    flex: wrap;
    background-color: #F3F3F3;
    margin: 40px 70px 20px 70px;
    border-radius: 50px;
}
.proposal-image{
    margin-left: 280px;
    height: 260px;
}
.happen{
    padding-left: 40px;
    padding-top: 60px;
}
.happe{
    margin-top: 20px;
}
.happen1{
    margin-top: 20px;
}
.happen2{
    color: #ffffff;
    background-color: #191A23;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    border-width: 0px;
}
.proposal-link{
    color: #ffffff;
    text-decoration: none;
}
.description-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #191A23;
    margin: 40px 70px 20px 70px;
    border-radius: 30px;
}
.desc-contain2{
    margin: 40px 30px;
    color: #ffffff;
    border-right: 1px solid white;
    padding-right: 50px;
}
.desc-contain1{
    margin: 40px 70px;
    color: #ffffff;
    border-right: 1px solid white;
    padding-right: 50px;
    padding-bottom: 30px;
}
.desc-contain3{
    margin: 40px 30px;
    color: #ffffff;
}
.desc{
    display: flex;
    margin-top: 10px;
}
.learn-desc{
    text-decoration: none;
    color: #B9FF66;
}
.green-icon{
    margin-left: 5px;
}
.consultation-container{
    background-color: #B9FF66;
    margin: 40px 70px 20px 70px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px;    
}
.consult-1{
    display: flex;
    padding: 20px 40px 20px 40px;
}
.minus-icon{
    margin-left: 870px;
}
.hr-length{
    background-color: #000000;
    margin: 5px 30px;
    height: 1px;           
    border: none;
}
.initial-consult{
    padding: 10px 20px 30px 40px;
}
.one{
    font-size: 50px;
}
.consult{
    font-size: 18px;
    padding-top: 25px;
    padding-left: 10px;
}
.consult-2{
    display: flex;
    justify-content: wrap;
    padding: 30px 40px 30px 40px;
}
.research-container{
    background-color: #F3F3F3;
    margin: 40px 70px 20px 70px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px;
}
.research{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 20px;
}
.two{
    font-size: 50px;
}
.plus-icon{
    margin-left: 660px;
}
.plus-icon3{
    margin-left: 840px;
}
.plus-icon4{
    margin-left: 750px;
}
.plus-icon5{
    margin-left: 720px;
}
.plus-icon6{
    margin-left: 780px;
}
.operations{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}
.operations-container{
    width: 27%;        
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 50px;
    margin-left: 49px;
    margin-bottom: 20px; 
    padding: 5px 20px 5px; 
      
}
.hr-operate{
    background-color: #000000;
    margin: 18px 20px 0px 30px;
    height: 1px;           
    border: none;
}
.operate1{
    display: flex;    
}
.john1{
    padding-top: 30px;
    padding-left: 10px;
}
.john2{
    padding-top: 80px;
    padding-left: 5px;
}
.in1{
    margin-top: 30px;
    margin-left: 25px;
}
.task1{
    margin: 20px 30px 20px 25px;
}
.jane2{
    padding-top: 80px;
    padding-left: 5px;
}
.in2{
    margin-top: 30px;
    margin-left: 1px;
}
.task2{
    margin: 20px 30px 20px 25px;
    font-size: 15px;
}
.in3{
    margin-top: 30px;
    margin-left: 50px;
}
.task3{
    margin: 20px 30px 5px 25px;
}
.brian{
    padding-top: 60px;
    padding-left: 5px;
}
.in4{
    margin-top: 30px;
    margin-left: 60px;
}
.happen1{
    margin-top: 20px;
}

.happen3{
    color: #ffffff;
    background-color: #191A23;
    padding: 15px 40px;
    border-radius: 8px;
    margin-left: 1080px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-width: 0px;
}
.testimonial{
    display: flex;
    margin-bottom: 20px;
}
.testimonial-1{
    margin: 30px 20px 0px 80px;
    background-color: #b9ff66;
    color: #000000;
    padding: 5px 5px;
    border-radius: 8px;
    display: inline-block;    
}
.test{
    font-size: 30px;
}
.testimonial-2{
    margin-top: 30px;
    margin-left: 20px;
}
.testimonial-block{
    margin-left: 70px;
    margin-top:50px;
}
.contact1{
    display: flex;
    margin-bottom: 20px;
}
.contact2{
    margin: 100px 20px 0px 80px;
    background-color: #b9ff66;
    color: #000000;
    padding: 5px 5px;
    border-radius: 8px;
    display: inline-block;    
}
.cont{
    font-size: 30px;
}
.contact3{
    margin-top: 100px;
    margin-left: 20px;
}
.message-container{
    display: flex;
    background-color: #F3F3F3;
    border-radius: 50px;
    margin: 50px 70px 30px 70px; 
}
.message-1{
    padding-left: 80px;
    padding-top: 50px;
}
.message-image{
    margin-left: 400px;
    overflow-x: hidden;
}
.message-link{
    color: #ffffff;
    text-decoration: none;
}
.happen5{
    margin-top: 20px;
}
.happen6{
    color: #ffffff;
    background-color: #191A23;
    padding: 15px 138px;
    border-radius: 10px;
    margin-bottom: 30px;
    border-width: 0px;
}
.message-2{
    padding-top: 30px;
}
.m-one{
    padding: 10px 5px;
    border-radius: 10px;
    border-width: 1px;
    width: 370px;
}
.message-3{
    padding-top: 20px;
}
.m-two{
    padding: 10px 5px;
    border-radius: 10px;
    border-width: 1px;
    width: 370px;
}
.message-4{
    padding-top: 20px;
}
.m-three{
    padding: 10px 5px 100px 5px;
    border-radius: 10px;
    border-width: 1px;
    width: 370px;
}
.footer-container{
    background-color: #191A23;
    margin: 40px 70px 0px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.footer-nav{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 40px;
}
.positivus-icon2{
    padding-left: 30px;
}
.nav-container{
    padding-left: 200px;
}
.socials{
    padding-left: 200px;
}
.red1{
    list-style-type: none;
    padding-right: 30px;
    color: white;
}
.hr-info{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 40px;
}
.info-spot{
    display: flex;
}
.contact-us{
    font-size: 20px;
    background-color: #b9ff66;
    border-radius: 8px;
    margin: 30px 0px 0px 40px;
    background-color: #b9ff66;
    color: #000000;
    padding: 2px 2px;
    display: inline-block; 
}
.email-info{
    color: #ffffff;
    padding-left: 40px;
    padding-top: 20px;
}
.phone{
    color: #ffffff;
    padding-left: 40px;
    padding-top: 20px;
}
.address{
    color: #ffffff;
    padding-left: 40px;
    padding-top: 20px;
}
.policy-co{
    display: flex;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.privacy{
    color: #ffffff;
    padding-left: 50px;
}
.subscription{
    display: flex;
    background-color:#292A32;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 360px;
}
.subscribe-link{
    color: #000000;
    text-decoration: none;
}
.sub-email{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #292A32;
}
.happen8{
    margin-top: 30px;
}
.happen9{
    color: #ffffff;
    background-color: #b9ff66;
    padding: 15px;
    border-radius: 10px;
    margin-top: 55px;
    margin-right: 30px;
    border-width: 0px;
}
.emi{
    color: white;
    border: 1px solid white;
    border-width: 1px;
}
.emi::placeholder {
    color: #ffffff;
}
.illust{
    display: none;
} 
.mar{
    display: none;
}
#log{
    display: none;
}
.servic{
    display: none;
}
.hape{
    display: none;
}
.description-container2{
    display: none;
}
.servics{
    margin: 70px 20px 0px 80px;
    background-color: #b9ff66;
    color: #000000;
    padding: 5px 5px;
    border-radius: 8px;
    display: inline-block;
    font-size: 30px;
    width:fit-content;
}
.servics-1{
    display: none;
}
.servics-2{
    display: none;
}
.working{
    display: block;
}
.workingprocess{
    display: none;
}
.testimonial-3{
    display: none;
}
.send-message{
    display: none;
}
.footer-container2{
    display: none;
}

/* About us page */
.teamwork-image{
    border-radius: 40px;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 40px;
}
.together{
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 20px 130px 20px 70px;
    /* height: 400px; */
}
.together-1{
    padding: 80px 30px 0px 80px;
}
.together-2{
    font-size: 40px;
}
.together-3{
    padding-top: 30px;
}
.container{
    margin-left: 0px;
}
.aboutnav{
    background-color: #b9ff66;
    color: #000000;
    padding: 5px 5px;
    border-radius: 8px;
}
.company-impact{
    display: flex;
    margin-top: 30px;
}
.impact-1{
    width: 230px;
    margin-left: 100px;
}
.impact-1 .space-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 20px;
    height: 30px;
    width: 100%
}
.impact-2{
    width: 230px;
    /* border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.impact-2 .space-top{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
    width: 100%;
}
.impact-3{
    width: 230px;    
}
.impact-3 .space-top{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
    width: 100%;
}
.impact-4{
    width: 230px;    
}
.impact-4 .space-top{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
    width: 100%;
}
.impact-5{
    width: 230px;  
}
.impact-5 .space-top {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 20px;
    height: 30px;
    width: 100%
}
.impac{
    padding-left: 30px;
}
.first-year{
    display: flex;
    margin: 40px 0px 40px 150px;
}
.second-year{
    display: flex;
    margin: 20px 0px 40px 500px;
}
.third-year{
    display: flex;
    margin: 20px 0px 40px 150px;
}
.fourth-year{
    display: flex;
    margin: 20px 0px 40px 500px;
}
.vector-flex1{
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 30px 140px 30px 20px;
    margin-left: 20px;
}
.vector-flex2{
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 30px 150px 30px 20px;
    margin-left: 20px;
}
.vector-flex3{
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 30px 135px 30px 20px;
    margin-left: 20px;
}
.vector-flex4{
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 30px 50px 30px 20px;
    margin-left: 20px;
}
.year-1{
    font-size: 35px;    
}
.year-2{
    font-size: 35px;    
}
.year-3{
    font-size: 35px;    
}
.year-4{
    font-size: 35px;    
}
.years-text{
    color: #ffffff;
    padding-left: 25px;
}
#hq{
    font-size: 20px;
    margin-bottom: 15px;
}
#cont-1{
    font-size: 14px;
}
#cont-2{
    font-size: 14px;    
}
#cont-3{
    font-size: 14px;    
}
#cont-4{
    font-size: 14px;    
}
.core-values{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.core-1{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 3px 1px;
    border-radius: 30px;
    margin-left: 80px;
    padding: 40px 40px 40px 40px;
}
.core-2{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 3px 1px;
    border-radius: 30px;
    padding: 40px 40px 40px 40px;
}
.core-3{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 30px;
    margin-left: 80px;
    padding: 40px 40px 40px 40px;
    margin-right: 0px;
}
.core-4{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 3px;
    border-radius: 30px;
    padding: 40px 40px 40px 40px;
}
.core-title{
    padding: 10px 0px 30px 0px;
    font-size: 25px;
}
.coreword-1{
    padding-top: 30px;
}
.coreword-2{
    padding-top: 30px;
}
.coreword-3{
    padding-top: 30px;    
}
.coreword-4{
    padding-top: 30px;    
}
.corehr{
    margin-right: 0px;
    height: 1px;           
    /* border: none; */
}
.innovation-img{
    border-radius: 20px;
    margin-top: 20px;
}
.collaboration-img{
    border-radius: 20px;
    margin-top: 20px;
}
.founder-remarks{
    background-color: #191A23;
    border-radius: 30px;
    margin: 100px 150px 20px 80px;
    box-shadow: 1px 3px;
}
.founders-words{
    font-size: 40px;
    color: #ffffff;
    padding: 50px 0px 0px 500px;
}
.founders-name{
    color: #ffffff;
    padding: 10px 0px 50px 500px;
}
.awards-container{
    display: flex;
    gap: 30px;
    margin-left: 70px;
    margin-top: 50px;
}
.award-1{
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}
.award-2{
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}
.award-3{
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}
.award-4{
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}
.award-title{
    padding: 200px 20px 30px 20px;
}
.award-main{
    padding: 20px 20px 40px 20px;
}
.enquiry{
    background-color: #B9FF66;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 3px;
    margin: 50px 70px 20px 70px;
    padding: 80px 0px 80px 50px;
}
.explore{
    color: #ffffff;
    background-color: #191A23;
    padding: 15px 40px;
    border-radius: 8px;
    border-width: 0px;
    margin-top: 20px;
}
.career-link{
    color: #ffffff;
    text-decoration: none;
}
.join-team{
    font-size: 25px;
    padding-bottom: 20px;
}
.mbtogether{
    display: none;
}
.impacts-0{
    display: flex;
    margin-bottom: 20px;
}
.impacts-0{
    display: none;
}
.mbcompany-impact{
    display: none;
}
.mbjourney-1{
    display: none;
}
.mbyears-container{
    display: none;
}
.mbcore-word1{
    display: none;
}
.mbcore-word2{
    display: none;
}
.mbcore-word3{
    display: none;
}
.mbcore-3{
    display: none;
}
.mbfounder-remarks{
    display: none;
}
.awardd-1{
    display: none;
}
.mbawards-container{
    display: none;
}
.team-text2{
    display: none;
}

/* services page */
.back-container{
    display: flex;
}
.back-btn{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
}
.back-icon{
    margin: 0px 10px 0px 70px;
}
.seo-container{
    background-color: #191A23;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin: 50px 120px 20px 70px;
}
.seo-icon{
    padding: 50px 0px 0px 50px;
}
.seo-title{
    padding-top: 50px;
}
.seo-title1{
    font-size: 25px;
}
.seo-text{
    padding: 50px 80px 30px 50px;
}
.seo-text1{
    color: #ffffff;
}
.boost-btn{
    color: #000000;
    width: 100%;  
    margin-top: 30px;
    border-radius: 10px;
    padding: 15px 25px;
    border-width: 0px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.boost-link{
    text-decoration: none;
    color: #000000;
}
.seo-process{
    background-color: #F3F3F3;
    display: flex;
    border-radius: 30px;
    margin: 50px 120px 10px 70px; 
}
.seo-process-icon{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.seo-process-text{
    padding-top: 30px;
    padding-left: 50px;
}
.seo-process-text2{
    padding-top: 20px;
}
.desc-title{
    padding-bottom: 20px;
}
.services-card{
    background-color: #F3F3F3;
}
.learn-black{
    color: #000000;
}
.serv{
    background-color: #ffffff;
}
.serv-box{
    box-shadow: 0px 3px;
}
.elevate-container{
    border: 1px solid black;
    box-shadow: 1px 3px;
    border-radius: 30px;
    margin: 40px 100px 10px 80px;
    padding: 50px;
}
.elevate-hr{
    margin: 30px 600px 30px 0px;
}
.elevate-grow{
    margin-top: 30px;
    margin-bottom: 30px;
}
.start-btn{
    background-color: #B9FF66;
    border: 0px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 45%;
}
.start-link{
    text-decoration: none;
    color: #000000;
}

/* usecase */
.featured-container{
    display: flex;
    background-color: #191A23;
    border-radius: 30px;
    margin: 40px 100px 10px 80px;
    padding: 60px;
}
.featured-header{
    padding-bottom: 20px;
    background-color: #B9FF66;
    border-radius: 10px;
    padding: 5px;
    margin-right: 120px;
    font-size: 25px;
    width: fit-content;
}
.featured-1{
    width: 60%;
}
.featured-2{
    padding-top: 40px;
}
.featured-text1{
    color: #ffffff;
    font-size: 25px;
}
.featured-text2{
    color: #ffffff;
    font-size: 15px;
    margin-top: 40px;
}
.f-percent1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
}
.f-percent2{
    display: flex;     
}
.pack-1, .pack-2, .pack-3, .pack-4{
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.read-container{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.read-btn{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #b9ff66;
}
.success-stories{
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 3px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.icon-learn{
    display: flex;
}
.icon-text{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
}
.stories-container{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
}
.stories-container2{
    padding: 20px;
    border-bottom: 1px solid black;
}
.stories-container3{
    padding: 20px;
    border-right: 1px solid black;
}
.stories-container4{
    padding: 20px;
}
.case-study{
    margin-left: 80px;
}
.proposal-success{
    display: flex;
    background-color: #B9FF66;
    margin: 40px 70px 20px 70px;
    border-radius: 40px;
}
.happen-success{
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.hr-info{
    border-color: #ffffff;
}

/* pricing page */
.pricing-title{
    margin-left: 80px;
}
.price-1{
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 1px 3px;
    width: 28%;
    padding: 40px;
    /* margin-left: 31px; */
    /* align-content: center; */
}
.price-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.price-2{
    background-color: #191A23;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 1px 3px;
    width: 28%;
    padding: 40px;
    margin-left: 20px;
    /* align-content: center; */
    color: #ffffff;
}
.price-3{
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 1px 3px;
    width: 28%; 
    padding: 40px;
    /* align-content: center; */
    margin-left: 20px;
}
.pricelist-section{
    margin-top: 50px;
    margin-left: 0px;
}
.pricelist-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
    /* width: 100%; */
}
.get-started-btn{
    color: #fdfdfd;
    border-radius: 10px;
    padding: 15px 25px;
    border-width: 0px;
    background-color: #191A23;
    width: 100%;
    margin-top: 20px;
}
.request-quote-btn{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 100%;

}
.get-started-btn2{
    color: #000000;
    border-radius: 10px;
    padding: 15px 25px;
    border-width: 0px;
    background-color: #b9ff66;
    width: 100%;
    margin-top: 20px;
}
.request-quote-btn2{
    background-color: #191A23;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    color: #ffffff;
}
.price-div{
    display: flex;
    align-items: baseline;
}
.price-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-tag{
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
}
.faq-title1{
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;    
}
.faq-title2{
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
}
.faq-title-div{
    margin-top: 90px;
    margin-left: 90px;
}
.faq-title1{
    font-weight: bold;
    font-size: 30px;
    background-color: #B9FF66;
    padding: 5px 5px;
    border-radius: 8px;
    border: none;
    width: fit-content;
}
.faq-title2{
    font-weight: bold;
    font-size: 30px;
    background-color: #B9FF66;
    padding: 1px 1px;
    border-radius: 8px;
    width: fit-content;
    margin-top: -20px;
    border: none;
}
.faq-minus-icon{
    margin-left: 520px;
}
.faq-plus-icon{
    margin-left: 640px;
}
.faq-plus-icon3{
    margin-left: 670px;
}
.faq-plus-icon4{
    margin-left: 670px;
}
.faq-plus-icon5{
    margin-left: 610px;
}
.faq-plus-icon6{
    margin-left: 470px;
}
.faq-consultation-container{
    background-color: #B9FF66;
    margin: 40px 70px 20px 80px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px;    
}
.faq-research-container{
    background-color: #F3F3F3;
    margin: 40px 70px 20px 80px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px;    
}

/* Blog page */
.blog-hero{
    background-color: #F3F3F3;
    border-radius: 30px;
    margin: 40px 70px 20px 70px;
    padding: 40px 20px;
}
.market-strategy{
    background-color: #d3d3d3;
    border: none;
    color: darkgrey;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.blog-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: baseline;
    margin-left: 90px;
    margin-top: 50px;
}
.hr-blog{
    border-color: dark black;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -5px;
}
.blog-para{
    text-align: justify;
    margin-left: 350px;
    margin-top: 50px;
    width: 50%;
}
.sarah-content-1{
    font-size: 17px;
    word-spacing: 5px;
}
.blog-para-1{
    text-align: justify;
    margin-left: 350px;
    font-size: 14px;
    margin-top: 30px;
    width: 50%;
}
.strike-div{
    margin-left: 350px;
    margin-top: 30px;
    width: 50%;
}
.strike-div-1{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}
.strike-div-2{
    background-color: #b9ff66;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.strike-div-3{
    font-size: 20px;
    text-align: justify;
    word-spacing: 10px;
}
.instance-div{
    margin-top: 30px
}
.fact-div{
    justify-content: space-evenly;
    align-content: center;
}
.fact-1{
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 3px;
    padding: 20px;
    width: 40%;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 30px;
}
.fact-2{
    background-color: #b9ff66;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
}
.fact-3{
    background-color: #d3d3d3;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 100px;
}
.fact-4{
    background-color: #292A32;
    border: none;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff;
    width: 40%;
    margin-bottom: 20px;
    margin-left: 10px;
}
.fact-percentage-1{
    color: #B9FF66;
}
.fact-percentage-2{
    font-size: 28px;
}
.real-world-div{
    margin-left: 350px;
    margin-top: 40px;
    text-align: justify;
    width: 50%;
}
.key-div{
    margin-left: 350px;
    margin-top: 40px;
    text-align: justify;
    width: 50%;
}
.key{
    margin-bottom: 20px;
}
.choose-div{
    margin-left: 350px;
    margin-top: 40px;
    text-align: justify;
    width: 50%;
}




@media (max-width: 480px){
    section{
        padding-left: 0.625em;
        padding-right: 0.625em;
    }
    .navigation-bar{
        display: none;
    }
    .menu{
        padding: 40px 10px 0px 10px;        
    }
    .positivus-icon {
        padding-left: 5px;
        width: 120px;
    }
    .navigate{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    }
    .dig-1 {
        margin-left: 10px;
        margin-top: 25px;
    }
    .digfont {
        font-size: 45px;
        color: #191A23;
    }
    .dig-2 {
        display: none; 
        padding-right: 40px;       
    } 
    .illustration {
        margin-left: 10px;
        width: 400px;
        height: 350px;
    } 
    .mar{
        margin-left: 10px;
        display: block;
        font-size: 16px;
    }
    #dig-3{
        margin-left: 10px;
        width: 95%;
    }
    .illustration{
        display: none;
    }
    .illust{
        display: flex;
        width: 350px;
        height: 300px;
        margin-left: 20px;
    }
    #dig-3{
        padding: 15px 100px;
    }
    #logos{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .amazon-logo{
        margin-left: 5px;    
    }
    .dribble-logo{
        margin-left: 5px  
    }
    .hubspot-logo{
        margin-left: 5px;   
    }
    .notion-logo{
        margin-left: 5px;
    }
    .netflix-logo{
        margin-left: 5px;  
    }
    .zoom-logo{
        margin-left: 5px;
    }
    .px-sm-0{
        padding-left: 0;
        padding-right: 0;
    }
    .services{
        display: inline;
        margin-left: 40px;
    }
    .services-2{
        display: none;        
    }
    .servic{
        align-content: center;
        margin-top: 20px;
        display: block;
        padding-left: 10px;        
    }
    .service-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;        
    }
    .card1{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .card-image1{
        margin-left: 0px;
        margin-top: 100px;
    }
    .card-imag{
        width: 150px;
        height: 120px;
    }
    .service-texts1{
        padding-left: 10px;
    }
    .service-texts2{
        padding-left: 10px;
    }
    .learn-btn{
        display: none;
    }
    .flexicon{
        display: flex;
        margin-top: 100px;
    }
    .card2{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .card-image2{
        margin-left: 0px;
        margin-top: 100px;
    }
    .card-imag{
        width: 150px;
        height: 120px;
    }
    .service-texts3{
        padding-left: 10px;
    }
    .service-texts4{
        padding-left: 10px;
    }
    .learn-btn2{
        display: none;
    }
    .flexicon2{
        display: flex;
        margin-top: 100px;
    }
    .card3{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .flexicon3{
        display: flex;
        margin-top: 100px;
    }
    .card-image3{
        margin-left: 0px;
        margin-top: 100px;
    }
    .card4{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .service-texts2{
        padding-left: 10px;
    }
    .card-image4{
        margin-left: 0px;
        margin-top: 100px;
    }
    .card5{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .card-image5{
        margin-left: 0px;
        margin-top: 100px;
    }
    .card6{
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0px 20px 35px;
    }
    .card-image6{
        margin-left: 0px;
        margin-top: 100px;
    }
    .proposal-image{
        display: none;
    }
    .happe{
        display: none;
    }
    .hape{
        display: block;
    }
    .proposal{
        margin: 40px 10px 20px 10px;
    }
    .happen2{
        width: 90%;
    }
    .case{
        margin-left: 40px;
        font-size: 30px;
    }
    .description-container{
        display: none;
    }
    .description-container2{
        display: block;
        margin-left: 20px;
       /* flex-direction: row;
        justify-content: space-around; */
    }
    .desc-cont1{
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 40px 20px;
        color: #ffffff;
        padding: 30px 30px 30px 30px;
    }
    .desc-cont2{
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 40px 20px;
        color: #ffffff;
        padding: 30px 30px 30px 30px;
        overflow: hidden;
    }
    .desc-cont3{
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 40px 20px;
        color: #ffffff;
        padding: 30px 30px 30px 30px;
        overflow: hidden;
    }
    .servics{
        display: none;
    }
    .servics-1{
        display: block;
        margin: 20px 20px 0px 80px;
        background-color: #b9ff66;
        color: #000000;
        padding: 5px 5px;
        border-radius: 8px;
        font-size: 30px;
        width:fit-content;
    }
    .servics-2{
        display: block;
        margin: 0px 20px 0px 110px;
        background-color: #b9ff66;
        color: #000000;
        padding: 5px 5px;
        border-radius: 8px;
        font-size: 30px;
        width:fit-content;
    }
    .consultation-container{
        display: none;
    }
    .research-container{
        display: none;
    }
    .workingprocess{
        display: block;
    }
    .research-container2{
        background-color: #F3F3F3;
        margin: 40px 10px 20px 10px;
        border-radius: 50px;
        border: 1px solid black;
        box-shadow: 0px 4px;
    }
    .consult2{
        display: flex;
        padding: 20px 30px 20px 20px;
    }    
    .two2{
        font-size: 30px;
        padding-top: 10px;        
    }
    .cplus-icon1{
        margin-left: 90px;
    }
    .cplus-icon2{
        margin-left: 7px;
    }
    .cplus-icon3{
        margin-left: 65px;
    }
    .cplus-icon4{
        margin-left: 65px;
    }
    .cplus-icon5{
        margin-left: 65px;
    }
    .cplus-icon6{
        margin-left: 5px;
    }
    .research2{
        font-size: 15x;
        padding-left: 40px;
        padding-top: 20px;
    }
    .research3{
        font-size: 15x;
        padding-left: 40px;
        padding-top: 10px;
    }
    .operations{
        margin-left: 10px;
        margin-top: 20px;
    }
    .operations-container{
        width: 100%;
        margin-left: 0px;        
    }
    .task1{
        margin: 10px 20px 20px 20px;
    }
    .task2{
        margin: 10px 20px 10px 25px;
    }
    .happen3{
        width: 90%;
        margin-left: 20px;
    }
    .testimonial{
        display: block;
    }
    .testimonial-2{
        display: none;
    }
    .testimonial-3{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .testimonial-image{
        display: none;
    }
    .contact1{
        display: block;
    }
    .contact2 {
        margin: 100px 20px 0px 100px;
    }
    .contact3{
        display: none;
    }
    .message-container{
        margin: 30px 10px 30px 10px;
    }
    .message-1{
        padding-left: 50px;
    }
    .m-one{
        width: 280px;
    }
    .m-two{
        width: 280px;
    }
    .m-three{
        width: 280px;
    }
    .message-5{
        display: none;
    }
    .send-message{
        display: block;
    }
    .happen5{
        margin-top: 0px;
        margin-left: 10px;
    }
    .footer-container{
        display: none;
    }
    .footer-container2{
        display: block;
        background-color: #191A23;        
    }
    .positivus-icon2{
        margin-top: 50px;
        margin-left: 80px;
    }
    .red2{
        color: #ffffff;
        text-decoration: none;
        list-style-type: none;        
    }
    .navs{
        list-style-type: none;
        margin-top: 20px;
    }
    .nav-container2{
        text-align: center;
    }
    .contact-us1{
        text-align: center;
        font-size: 20px;
        background-color: #b9ff66;
        border-radius: 8px;
        margin-top: 30px;
        margin-left: 130px;
        background-color: #b9ff66;
        color: #000000;
        padding: 2px 2px;
        display: inline-block; 
    }
    .email-info1{
        text-align: center;
        color: #ffffff;
        padding-left: 40px;
        padding-top: 20px;
    }
    .phone1{
        text-align: center;
        color: #ffffff;
        padding-left: 40px;
        padding-top: 20px;
    }
    .address1{
        text-align: center;
        color: #ffffff;
        padding-left: 30px;
        padding-top: 20px;
    }
    .subscription1{
        background-color:#292A32;
        border-radius: 20px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .subscribe-link1{
        color: #000000;
        text-decoration: none;
    }
    .sub-email-1{
        width: 80%;
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: #292A32;
        margin-left: 30px;
    }
    .happen-8{
        margin-top: 30px;
    }
    .happen-9{
        color: #ffffff;
        background-color: #b9ff66;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
        border-width: 0px;
        width: 80%;
        margin-bottom: 20px
    }
    .emi-1{
        color: white;
        border: 1px solid white;
        border-width: 1px;
    }
    .emi-1::placeholder {
        color: #ffffff;
    }  
    .socials1{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .hr-info-1{
        margin-left: 20px;
        margin-right: 20px;
    }
    .policy-co-1{
        color: #ffffff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .privacy1{          
        text-align: center;        
        padding-top: 20px;        
    }
    .privacy2{
        color: #ffffff;
        text-decoration: none;
    }

    /* about-us mobile */
    .navigation-bar{
        display: none;
    }
    .together{
        display: none;
    }
    .mbtogether{
        display: block;
    }
    .mbtogether-2{
        font-size: 40px;
        margin-top: 40px;
    }
    .mbtogether-3{
        margin-top: 300px;
        font-size: 14px;
    }
    .impacts-0{
        display: block;
    }
    .impact{
        display: none;
    }
    .impacts-1{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        background-color: #b9ff66;
        color: #000000;
        padding: 5px;
        border-radius: 8px;
        width: 50%;
        margin-left: 90px;
    }
    .impacts-2{
        text-align: center;
        font-size: 30px;
        background-color: #b9ff66;
        color: #000000;
        padding: 5px;
        border-radius: 8px;
        width: 55%;
        margin-left: 80px;
    }
    .impacts-3{
        display: block;
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
    }
    .impact-desk{
        display: none;
    }
    .company-impact{
        display: none;
    }
    .mbcompany-impact{
        display: block;
    }
    .mbimpact-1{
        width: 200px;
        text-align: center;
    /* margin-left: 100px; */
    }
    .mbimpact-1 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 30px;
        width: 100%;
    }
    .mbimpact-2{
        width: 200px;
        text-align: center;
    }
    .mbimpact-2 .mbspace-top{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 30px;
        width: 100%;
    }
    .mbimpact-3{
        width: 200px;    
        text-align: center;
    }
    .mbimpact-3 .mbspace-top{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 30px;
        width: 100%;
    }
    .mbimpact-4{
        width: 200px;
        text-align: center;  
    }
    .mbimpact-4 .mbspace-top{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 30px;
        width: 100%;
    }
    .mbimpact-5{
        width: 200px; 
        text-align: center;
        margin-left: 80px;
        margin-top: 10px; 
    }
    .mbimpact-5 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 20px;
        width: 100%;
    }
    .impac{
        padding-left: 30px;
    }
    .impact-line1{
        display: flex;
        gap: 0px;
        margin-bottom: 10px;
    }
    .impact-line2{
        display: flex;
        gap: 0px;
        margin-bottom: 10px;
    }
    .mbjourney{
        margin-left: 40px;
    }
    .mbjourney-1{
        display: block;
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
    }
    .first-year, .second-year, .third-year, .fourth-year{
        display: none;
    }
    .years-container{
        display: none;
    }
    .mbyears-container{
        display: block;
    }
    .mbfirst-year, .mbsecond-year, .mbthird-year, .mbfourth-year{
        display: block;
    }
    .vector-flex1, .vector-flex2, .vector-flex3, .vector-flex4{
        padding-right: 50px;
    }
    .year-1{
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .year-2{
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .year-3{
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .year-4{
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .mbcore{
        margin-left: 10px;
    }
    .core-1{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .core-2{
        width: 100%;
        margin-left: 0px;
    }
    .core-3{
        display: none;        
    }
    .mbcore-3{
        display: block;
        width: 100%;
        margin-left: 0px;
        background-color: #ffffff;
        border: 1px solid black;
        box-shadow: 0px 3px;
        border-radius: 30px;
        padding: 40px 40px 40px 40px;
    }
    .core-4{
        width: 100%;
        margin-left: 0px;
    }
    .mbcore-word{
        display: none;
    }
    .mbcore-word1{
        display: block;
        font-size: 15px;
    }
    .mbcore-word2{
        display: block;
        font-size: 14px;
    }
    .mbcore-word3{
        display: block;
        font-size: 12px;
    }
    .mbcore-word4{
        display: block;
        font-size: 12px;
    }
    .corehr {
       margin-right: 0px;
       height: 1px;
    }
    .coreword-2{
        padding-bottom: 150px;
    }
    .coreword-3{
        padding-bottom: 150px;
    }
    .founder-remarks{
        display: none;
        /* background-color: #191A23;
        border-radius: 30px;
        margin: 100px 150px 20px 80px;
        box-shadow: 1px 3px; */
    }
    .mbfounders-words{
        /* display: block; */
        font-size: 40px;
        color: #ffffff;
        padding: 30px 30px 200px 30px;
    }
    .mbfounder-remarks{  
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        /* margin: 100px 150px 20px 80px; */
        box-shadow: 1px 3px;
        margin-top: 40px;                
    }
    .awardd{
        margin-left: -20px;
    }
    .awardd-1{
        display: block;
        text-align: center;
        padding-top: 30px;
        font-size: 14px;
    }
    .awards-container{
        display: none;
    }
    .mbawards-container{
        display: block;
        margin-left: 10px;
    }
    .container-1{
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    .container-2{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .mbaward-1{
        background-color: #F3F3F3;
        border-radius: 40px;
    }
    .mbaward-2{
        background-color: #F3F3F3;
        border-radius: 40px;
    }
    .mbaward-3{
        background-color: #F3F3F3;
        border-radius: 40px;
    }
    .mbaward-4{
        background-color: #F3F3F3;
        border-radius: 40px;
    }
    .mbaward-title{
        font-size: 13px;
        padding: 150px 20px 10px 20px;
    }
    .mbaward-main{
        font-size: 12px;  
        padding: 10px 20px 30px 20px; 
    }
    .team-text1{
        display: none;
    }
    .team-text2{
        display: block;
        text-align: center;
    }
    .enquiry{
        background-color: #B9FF66;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 0px 3px;
        margin: 50px 0px 20px 0px;
        padding: 0px 0px 0px 0px;
    }
    .explore{
        color: #ffffff;
        background-color: #191A23;
        padding: 15px 40px;
        border-radius: 8px;
        border-width: 0px;
        margin-top: 20px;
        margin-left: 30px;
        width: 60%;
        margin-left: 70px;
        margin-bottom: 250px;
    }
    .career-link{
        color: #ffffff;
        text-decoration: none;
    }
    .join-team{
        font-size: 25px;
        padding-bottom: 20px;
        text-align: center;
        margin-top: 40px;
    }

    /* services-mobile */
}    