* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    /* scroll-behavior: smooth; */
}   
html{
    scroll-behavior: smooth;
}

.sticky-nav {
    background-color: #ffffff;
} 

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;  
    background-color: #ffffff;
}

.menu-1 {
    list-style-type: none;
    display: inline;
}

.positivus-icon {
    padding-left: 0rem;
    width: 100%; 
}

.menu-link {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: #000000;  
    position: relative; 
    padding: 0.3rem 0.2rem;
}

/* .navigation-bar {
    margin-left: 20rem;  
} */

#nav-1, #nav-2, #nav-3, #nav-4, #nav-5 {
    list-style-type: none;
    display: inline;
    padding-right: 2rem;  
    position: relative;
    z-index: 10;
}

#quote {
    display: inline;
}

#quote-1 {
    margin-left: 1rem;   
    border-radius: 10px;      
    padding: 1rem 2rem;  
    border-width: 0.06rem;  
    background-color:#fdfdfd;
}

.navigate {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

/* .dig-1 {
    margin-left: 5rem;   
} */

.digfont {
    font-size: 3.9rem;   
    color: #191A23;
}

/* .dig-2 {
    margin-left: 5rem;   
} */

#dig-3 {
    color: #fdfdfd;
    /* margin-left: 4rem;   70px */
    margin-top: 2rem;   /* 25px */
    border-radius: 10px;     /* keep px */
    padding: 1rem 2rem;  /* 15px 25px */
    border-width: 0rem;
    background-color:#191A23;
}

.consultation-link {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff; 
}

/* .illustration {
    margin-left: 9rem;   100px
} */

.align-logos{
    margin-left: -3rem;
    width: 100%;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

#logos, #logo-1, #logo-2, #logo-3, #logo-4, #logo-5, #logo-6 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

/* .amazon-logo {
    margin-left: 4rem;   
} */

.dribble-logo {
    margin-left: 4.5rem;    
}

.hubspot-logo {
    margin-left: 5rem;    
}

.notion-logo {
    margin-left: 6.5rem;   
}

.netflix-logo {
    margin-left: 6rem;   
}

.zoom-logo {
    margin-left: 7rem;   
}

.services {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
}

.services-1 {
    margin: 4rem 1rem 0 0rem;   
    background-color: #b9ff66;
    color: #000000;
    padding: 0.3rem 0.3rem;   
    border-radius: 8px;   
    display: inline-block;    
}

.serve {
    font-size: 2rem;   
}

.services-2 {
    margin-top: 4rem;   
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-left: 3rem;    */
    /* margin-right: 2rem;   */
    margin-top: 3rem;   
}

.card1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;   
    background-color: #F3F3F3;
    border: 1px solid black;
    box-shadow: 0 0.1rem;   
    border-radius: 50px;   
    margin-bottom: 1rem;
    margin-right: 1.5rem;   
    padding: 2rem 2rem 2rem 3rem;   
}

.card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;   
    background-color: #B9FF66;
    border: 1px solid black;
    box-shadow: 0 0.1rem;  
    border-radius: 50px;   
    margin-bottom: 1rem;   
    margin-left: 0rem;
    padding: 2em 2rem 2rem 3rem;   
}

.card3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;   
    background-color: #191A23;
    border: 1px solid black;
    border-radius: 50px;   
    margin-bottom: 1rem; 
    margin-right: 1.5rem;    
    padding: 2rem 2rem 2rem 3rem;   
}
.card4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;   
    background-color: #F3F3F3;
    border: 1px solid black;
    box-shadow: 0 0.2rem;   
    border-radius: 50px;   
    margin-bottom: 1rem; 
    padding: 2rem 2rem 2rem 3rem;   
}

.card5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;  
    background-color: #B9FF66;
    border: 1px solid black;
    box-shadow: 0 0.1875rem;   
    border-radius: 50px;   
    margin-bottom: 1rem;   
    margin-right: 1.5rem;  
    padding: 2rem 2rem 2rem 3rem;   
}

.card6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 49%;   
    background-color: #191A23;
    border: 1px solid black;
    border-radius: 50px;   
    margin-bottom: 1rem;   
    padding: 2rem 2rem 2rem 3rem;  
}

.card-image1 {
    margin-left: 2rem;
    margin-top: 0.6rem; 
}

.card-image2 {
    margin-left: 2rem;
    margin-top: 2rem;   
}

.card-image3 {
    margin-left: 2rem;
    margin-top: 0.6rem;   
}

.card-image4 {
    margin-left: 3rem;   
    margin-top: 0.6rem;   
}

.card-image5 {
    margin-left: 4rem;    
    margin-top: 0.6rem;    
}

.card-image6 {
    margin-left: 3rem;   
    margin-top: 0.6rem;
}

.flexicon {
    display: flex;
    margin-top: 7rem;  
}

.learn-btn {
    text-decoration: none;
    margin-top: 0.6rem;   
    margin-left: 0.3rem; 
    color: #000000;
}

.service-texts1 {
    font-weight: bold;
    font-size: 1.3rem;   
    background-color: #B9FF66;
    padding: 0.3rem 0.3rem;  
    border-radius: 8px;   
}

.service-texts2 {
    font-weight: bold;
    font-size: 1.3rem;   
    background-color: #B9FF66;
    padding: 0.2rem 0.4rem;   
    border-radius: 8px;   
    width: fit-content;
    margin-top: -1rem;   
}

.flexicon2 {
    display: flex;
    margin-top: 7rem;   
}

.learn-btn2 {
    text-decoration: none;
    margin-top: 0.6rem;   
    margin-left: 0.3rem; 
    color: #000000;
}

.service-texts3 {
    font-weight: bold;
    font-size: 1.3rem;   
    background-color: white;
    padding: 0.3rem 0.3rem;   
    border-radius: 8px;   
}

.service-texts4 {
    font-weight: bold;
    font-size: 1.3rem;   
    background-color: white;
    padding: 0.2rem 0.4rem;   
    border-radius: 8px;   
    width: fit-content;
    margin-top: -1rem;  
}
.learn-white {
    color: #ffffff;
}

.flexicon3 {
    display: flex;
    margin-top: 7rem; 
}

.flexicon4 {
    display: flex;
    margin-top: 7rem; 
}

.proposal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F3F3F3;
    margin: 2rem 0rem 1rem 0rem; 
    border-radius: 50px;
    height: 290px;
}

.proposal-image { 
    margin-right: 12rem;
    height: 65%; 
}

.proposal-img{
    width: 300px;
    height: auto;
    margin-top: -1.5rem;
}

.happen {
    padding-left: 2rem;
    padding-top: 4rem; 
}

.happe {
    margin-top: 1rem; 
}

.happen1 {
    margin-top: 1rem; 
}

.happen2 {
    color: #ffffff;
    background-color: #191A23;
    padding: 1rem; 
    border-radius: 10px;
    margin-bottom: 2rem; 
    border-width: 0px;
}

.proposal-link {
    color: #ffffff;
    text-decoration: none;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #191A23;
    margin: 3rem 0rem 2rem 0rem;
    border-radius: 30px;
    justify-content: space-around;
}

.desc-contain2 {
    margin-top: 2rem;
    color: #ffffff;
    border-right: 1px solid white;
    padding-right: 3rem;
    /* padding-top: 2rem; */
    margin-bottom: 2rem;
}

.desc-contain1 {
    margin: 2rem 0rem;
    color: #ffffff;
    border-right: 1px solid white;
    padding-right: 3rem;
    padding-bottom: 2rem;
    /* padding-left: 3rem; */
}

.desc-contain3 {
    color: #ffffff;
    padding-top: 2rem;
}

.desc {
    display: flex;
    margin-top: 0.6rem; 
}

.learn-desc {
    text-decoration: none;
    color: #B9FF66;
}

.green-icon {
    margin-left: 0.3rem;
}

.consultation-container {
    background-color: #B9FF66;
    margin: 2rem 0rem 1rem 0rem;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0.2rem; 
}

.consult-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem; 
}

/* .minus-icon {
    margin-left: 58rem; 
} */

.hr-length {
    background-color: #000000;
    margin: 0.3rem 2rem; 
    height: 1%; 
    border: 0.1rem solid black;
}

.initial-consult {
    padding: 0.6rem 1rem 2rem 2rem; 
}

.one {
    font-size: 3rem; 
}

.consult {
    font-size: 1rem; 
    padding-top: 2rem; 
    margin-left: -59rem; 
}

.consult-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 2rem; 
}

.research-container {
    background-color: #F3F3F3;
    margin: 2rem 0rem 1rem 0rem;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0.2rem;
}

.research {
    font-size: 1rem; 
    margin-left: -3rem; 
    padding-top: 1rem; 
}

.two {
    font-size: 3rem; 
}

.plus-icon {
    margin-left: 41rem; 
}

.plus-icon3 {
    margin-left: 52rem; 
}

.plus-icon4 {
    margin-left: 47rem; 
}

.plus-icon5 {
    margin-left: 45rem;
}

.plus-icon6 {
    margin-left: 49rem; 
}

.operations {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 2rem; */
}

.operations-container {
    width: 32%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.2rem; 
    border-radius: 50px;
    /* margin-left: 3rem;  */
    margin-bottom: 2rem; 
    padding: 0.3rem 1rem 0.3rem; 
}

.operands{
    width: 32%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.2rem; 
    border-radius: 50px;
    margin-left: 1.5rem;
    margin-bottom: 2rem; 
    padding: 0.3rem 1rem 0.3rem;
}

.hr-operate {
    background-color: #000000;
    margin: 1rem 1rem 0px 2rem; 
    height: 1px;
    border: none;
}

.operate1 {
    display: flex;
}

.john1 {
    padding-top: 2rem; 
    padding-left: 0.6rem; 
}

.john2 {
    padding-top: 5rem; 
    padding-left: 0.3rem; 
}

.in1 {
    margin-top: 2rem; 
    margin-left: 2rem;
}

.task1 {
    margin: 1rem 2rem 1rem 2rem; 
}

.jane2 {
    padding-top: 5rem; 
    padding-left: 0.3rem; 
}

.in2 {
    margin-top: 2rem; 
    margin-left: 0.06rem; 
}

.task2 {
    margin: 1rem 0.9rem 1rem 2rem; 
    font-size: 1rem; 
}

.in3 {
    margin-top: 2rem; 
    margin-left: 3rem; 
}

.task3 {
    margin: 1rem 2rem 0.3rem 2rem; 
}

.brian {
    padding-top: 4rem; 
    padding-left: 0.3rem; 
}

.in4 {
    margin-top: 2rem; 
    margin-left: 4rem; 
}

.happen1 {
    margin-top: 1rem;
}

.proposal-div{
    text-align: right;
    margin-top: 0.3rem; 
    margin-bottom: 2rem; 
    width: 100%;    
}

.happen3 {
    color: #ffffff;
    background-color: #191A23;
    padding: 1rem 2rem; 
    border-radius: 8px;    
    border-width: 0px;
}

.testimonial {
    display: flex;
    margin-bottom: 1rem; 
}

.testimonial-1 {
    margin: 2rem 1rem 0 0rem; 
    background-color: #b9ff66;
    color: #000000;
    padding: 0.3rem; 
    border-radius: 8px;
    display: inline-block;
}

.test {
    font-size: 2rem; 
}

.testimonial-2 {
    margin-top: 2rem; 
    margin-left: 1rem; 
}

.testimonial-block {
    margin-left: 0rem; 
    margin-top: 3rem; 
}

.contact1 {
    display: flex;
    margin-bottom: 1rem; 
}

.contact2 {
    margin: 6rem 1rem 0 0rem; 
    background-color: #b9ff66;
    color: #000000;
    padding: 0.3rem; 
    border-radius: 8px;
    display: inline-block;
}

.cont {
    font-size: 2rem; 
}

.contact3 {
    margin-top: 6rem; 
    margin-left: 1rem; 
}

.message-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 50px;
    margin: 3rem 0rem 2rem 0rem; 
}

.message-image{
    overflow-x: hidden;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.m-three::placeholder{
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.message-1 {
    padding-left: 5rem; 
    padding-top: 3rem; 
    width: 50%;
}

.msg-post {
    transform: translateX(18rem);   
}


.message-link {
    color: #ffffff;
    text-decoration: none;
}

.happen5 {
    width: 100%;
    margin-top: 1rem; 
}

.happen6 {
    color: #ffffff;
    background-color: #191A23;
    padding: 1rem 9rem; 
    border-radius: 10px;
    margin-bottom: 4rem; 
    border-width: 0px;
}

.message-2 {
    padding-top: 2rem; 
}

.m-one {
    padding: 1rem 1.5rem; 
    border-radius: 10px;
    border-width: 1px;
    width: 100%; 
    margin-bottom: 0.5rem;
}

.message-3 {
    padding-top: 1rem; 
}

.m-two {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.message-4 {
    padding-top: 1rem; 
}

.m-three {
    padding: 1rem 0.3rem 6rem 1.5rem; 
    /* border-width: 1px; */
    width: 100%;
    all: unset;
    width: 100%;
    height: 180px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

.form-gap{
    padding-bottom: 0.5rem;
}

.footer-container {
    background-color: #191A23;
    margin: 2rem 4rem 0 4rem; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: space-between;
}

.positivus-icon2 {
    padding-left: 2rem; 
}

/* .nav-container {
    padding-left: 12rem; 
} */

.socials {
    /* padding-left: 12rem;  */
    margin-right: 6rem;
}
.red1 {
    list-style-type: none;
    padding-right: 2rem; 
    color: white;
}

.hr-info {
    margin-top: 2rem; 
    margin-left: 2rem;
    margin-right: 2rem;
}

.info-spot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-us {
    font-size: 1rem; 
    background-color: #b9ff66;
    border-radius: 8px;
    margin: 2rem 0 0 2rem; 
    color: #000000;
    padding: 0.1rem; 
    display: inline-block;
}

.email-info {
    color: #ffffff;
    padding-left: 2rem;
    padding-top: 1rem; 
}

.phone {
    color: #ffffff;
    padding-left: 2rem;
    padding-top: 1rem; 
}

.address {
    color: #ffffff;
    padding-left: 2rem;
    padding-top: 1rem; 
}

.policy-co {
    display: flex;
    color: #ffffff;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.privacy {
    color: #ffffff;
    padding-left: 3rem; 
}

.subscription {
    display: flex;
    background-color: #292A32;
    border-radius: 20px;
    margin-top: 2rem; 
    /* margin-left: 22.5rem;  */
    margin-right: 6rem;
}

.subscribe-link {
    color: #000000;
    text-decoration: none;
}

.sub-email {
    margin-top: 1rem; 
    padding: 1rem; 
    border-radius: 10px;
    background-color: #292A32;
}

.happen8 {
    margin-top: 2rem; 
}

.happen9 {
    color: #ffffff;
    background-color: #b9ff66;
    padding: 1rem; 
    border-radius: 10px;
    margin-top: 3rem; 
    margin-right: 2rem; 
    border-width: 0px;
}

.emi {
    color: white;
    border: 1px solid white;
    border-width: 1px;
}

.emi::placeholder {
    color: #ffffff;
}

.illust {
    display: none;
}

.mar {
    display: none;
}

#log {
    display: none;
}

.servic {
    display: none;
}

.hape {
    display: none;
}

.description-container2 {
    display: none;
}

.servics {
    margin: 4rem 1rem 0 0rem; 
    background-color: #b9ff66;
    color: #000000;
    padding: 0.3rem; 
    border-radius: 8px;
    display: inline-block;
    font-size: 2rem; 
    width: fit-content;
}

.servics-1 {
    display: none;
}

.servics-2 {
    display: none;
}

.working {
    display: block;
}

.workingprocess {
    display: none;
}

.testimonial-3 {
    display: none;
}

.send-message {
    display: none;
}

.footer-container2 {
    display: none;
}

/* About us page */
.teamwork-image {
    margin-left: 7rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 20px;    
}

.together {
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 4rem 0rem 1rem 0rem; 
}

.together-1 {
    padding: 5rem 2rem 0 5rem; 
}

.together-2 {
    font-size: 2rem;
}

.together-3 {
    padding-top: 1rem; 
}

.container {
    margin-left: 0;
}

.aboutnav {
    background-color: transparent;
    color: #000000;
    border-radius: 8px;
    
}


.menu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20%;
    width: 0%;
    height: 100%;
    background-color: #b9ff66;
    z-index: 1;
    transition: all 0.2s ease-out;
    
}



.menu-link:hover::before {
     left: 0%; /* slides background in */
    width: 100%; /* expands background to full width */
}


.company-impact {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem; 
}

.impact-1 {
    width: 20%; 
    /* margin-left: 6rem;  */
}

.impact-1 .space-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
}

.impact-2 {
    width: 20%;
}

.impact-2 .space-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
}

.impact-3 {
    width: 20%;
}

.impact-3 .space-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
}

.impact-4 {
    width: 20%;
}

.impact-4 .space-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%; 
    width: 100%;
}

.impact-5 {
    width: 20%;
}

.impact-5 .space-top {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 20px;
    height: 30%;
    width: 100%;
}

.impac {
    padding-left: 2rem; 
}

.first-year {
    display: flex;
    margin: 2rem 0 2rem 9rem; 
}

.second-year {
    display: flex;
    margin: 1rem 0 2rem 31rem; 
}

.third-year {
    display: flex;
    margin: 1rem 0 2rem 9rem; 
}

.fourth-year {
    display: flex;
    margin: 1rem 0 2rem 31rem; 
}

.vector-flex1 {
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 2rem 8rem 2rem 1rem;
    margin-left : 1rem; 
}

.vector-flex2 {
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 2rem 9rem 2rem 1rem; 
    margin-left: 1rem; 
}
.vector-flex3 {
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 2rem 8.4rem 2rem 1rem; 
    margin-left: 1rem; 
}

.vector-flex4 {
    display: flex;
    background-color: #191A23;
    border-radius: 20px;
    padding: 2rem 3rem 2rem 1rem; 
    margin-left: 1rem; 
}

.year-1 {
    font-size: 2.2rem; 
}

.year-2 {
    font-size: 2.2rem; 
}

.year-3 {
    font-size: 2.2rem; 
}

.year-4 {
    font-size: 2.2rem; 
}

.years-text {
    color: #ffffff;
    padding-left: 2rem; 
}

#hq {
    font-size: 1rem; 
    margin-bottom: 1rem; 
}

#cont-1 {
    font-size: 0.9rem; 
}

#cont-2 {
    font-size: 0.9rem; 
}

#cont-3 {
    font-size: 0.9rem; 
}

#cont-4 {
    font-size: 0.9rem; 
}

.core-values {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.core-1 {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.2rem 0.06rem; 
    border-radius: 30px;
    margin-left: 5rem; 
    padding: 2rem;
}

.core-2 {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.2rem 0.06rem;
    border-radius: 30px;
    padding: 2rem;
}

.core-3 {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.2rem;
    border-radius: 30px;
    margin-left: 5rem; 
    padding: 2rem;
    margin-right: 0;
}

.core-4 {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 0.1875rem;
    border-radius: 30px;
    padding: 2rem;
}

.core-title {
    padding: 0.6rem 0 2rem 0; 
    font-size: 2rem; 
}

.coreword-1 {
    padding-top: 2rem; 
}

.coreword-2 {
    padding-top: 2rem;
}

.coreword-3 {
    padding-top: 2rem;
}

.coreword-4 {
    padding-top: 2rem;
}

.corehr {
    margin-right: 0;
    height: 1%; 
}

.innovation-img {
    border-radius: 20px;
    margin-top: 1rem; 
}

.collaboration-img {
    border-radius: 20px;
    margin-top: 1rem;
}

.founder-remarks {
    background-color: #191A23;
    border-radius: 30px;
    margin: 6rem 9rem 1rem 5rem; 
    box-shadow: 0.06rem 0.2rem; 
}
.remark{
    display: flex;
}
.remark-img{
    border-radius: 50px;
    padding: 1rem 1rem 1rem 1rem;
}

.founders-words {
    font-size: 1.7rem;
    color: #ffffff;
    padding: 4rem 0.5rem 0 1rem; 
}

.founders-name {
    color: #ffffff;
    padding: 0.6rem 0rem 3rem 1rem; 
}

.awards-container {
    display: flex;
    gap: 2rem; 
    margin-left: 4rem; 
    margin-top: 3rem; 
}

.award-1 {
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}

.award-2 {
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}

.award-3 {
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}

.award-4 {
    background-color: #F3F3F3;
    border-radius: 40px;
    width: 21%;
}

.award-title {
    padding: 1rem 1rem 2rem 1rem; 
}

.award-img{
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.award-main {
    padding: 1rem 1rem 2rem 1rem; 
}

.enquiry {
    display: flex;
    background-color: #B9FF66;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0rem 0.2rem;
    margin: 3rem 4rem 1rem 4rem; 
    padding: 5rem 0 5rem 3rem; 
}

.enquiry-text{
    padding-right: 3rem;
    width: 60%;
}

.explore {
    color: #ffffff;
    background-color: #191A23;
    padding: 1rem 2rem; 
    border-radius: 8px;
    border-width: 0;
    margin-top: 1rem; 
}

.career-link {
    color: #ffffff;
    text-decoration: none;
}

.join-team {
    font-size: 2rem; 
    padding-bottom: 1rem; 
}

.mbtogether {
    display: none;
}

.impacts-0 {
    display: flex;
    margin-bottom: 1rem; 
}

.impacts-0 {
    display: none;
}

.mbcompany-impact {
    display: none;
}

.mbjourney-1 {
    display: none;
}

.mbyears-container {
    display: none;
}

.mbcore-word1 {
    display: none;
}

.mbcore-word2 {
    display: none;
}

.mbcore-word3 {
    display: none;
}

.mbcore-3 {
    display: none;
}

.mbfounder-remarks {
    display: none;
}

.awardd-1 {
    display: none;
}

.mbawards-container {
    display: none;
}

.team-text2 {
    display: none;
}

/* services page */
.back-container {
    display: flex;
}
.back-btn {
    text-decoration: none;
    margin-top: 0.6rem; 
    margin-left: 0.3rem; 
    color: #000000;
}
.back-icon {
    margin: 0 0.6rem 0 4rem; 
}
.seo-container {
    background-color: #191A23;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem 1rem 4rem; 
}
.seo-icon {
    padding: 3rem 0 0 3rem; 
}

.seo-title {
    padding-top: 3rem; 
}
.seo-title1 {
    font-size: 2rem; 
}
.seo-text {
    padding: 3rem 5rem 2rem 3rem; 
}
.seo-text1 {
    color: #ffffff;
}
.boost-btn {
    color: #000000;
    width: 100%;
    margin-top: 2rem; 
    border-radius: 10px;
    padding: 1rem 2rem; 
    border-width: 0;
    background-color: #ffffff;
    margin-bottom: 3rem; 
}
.boost-link {
    text-decoration: none;
    color: #000000;
}
.seo-process {
    background-color: #F3F3F3;
    display: flex;
    border-radius: 30px;
    margin: 3rem 7rem 0.6rem 4rem; 
}
.seo-process-icon {
    padding-top: 2rem; 
    padding-left: 2rem; 
    padding-bottom: 1rem; 
}
.seo-process-text {
    padding-top: 2rem; 
    padding-left: 3rem; 
}
.seo-process-text2 {
    padding-top: 1rem; 
}
.desc-title {
    padding-bottom: 1rem;  
}
.services-card {
    background-color: #F3F3F3;
}
.learn-black {
    color: #000000;
}
.serv {
    background-color: #ffffff;
}
.serv-box {
    box-shadow: 0px 0.2rem; 
}
.elevate-container {
    display: flex;
    border: 1px solid black;
    box-shadow: 0.06rem 0.2rem; 
    border-radius: 30px;
    margin: 2rem 6rem 0.6rem 5rem; 
    padding: 3rem; 
}
.elevate-hr {
    margin: 2rem 8rem 2rem 0; 
}

.elevate-img{
    width: 90%;
}

.elevate-div{
    width: 100%;
}
.elevate-grow {
    margin-top: 2rem; 
    margin-bottom: 2rem;
}
.start-btn {
    background-color: #B9FF66;
    border: 0px solid black;
    border-radius: 20px;
    padding: 1rem; 
    width: 45%;
}
.start-link {
    text-decoration: none;
    color: #000000;
}

/* usecase */
.featured-container {
    display: flex;
    background-color: #191A23;
    border-radius: 30px;
    margin: 2rem 6rem 0.6rem 5rem; 
    padding: 4rem; 
}
.featured-header {
    padding-bottom: 1rem; 
    background-color: #B9FF66;
    border-radius: 10px;
    padding: 0.3rem; 
    margin-right: 7rem; 
    font-size: 2rem;  
    width: fit-content;
}
.featured-1 {
    width: 60%;
}
.featured-2 {
    padding-top: 2rem; 
}
.featured-text1 {
    color: #ffffff;
    font-size: 2rem; 
}
.featured-text2 {
    color: #ffffff;
    font-size: 1rem; 
    margin-top: 2rem; 
}
.f-percent1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}
.f-percent2 {
    display: flex;
}
.pack-1 {
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}
.pack-2 {
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pack-3 {
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pack-4 {
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.read-container {
    display: flex;
    align-items: center;
    margin-top: 2rem; 
}
.read-btn {
    text-decoration: none;
    margin-top: 0.6rem; 
    margin-left: 0.3rem; 
    color: #b9ff66;
}
.success-stories {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0.06rem 0.1875rem; 
    padding: 2rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icon-learn {
    display: flex;
}
.icon-text {
    text-decoration: none;
    margin-top: 0.6rem; 
    margin-left: 0.3rem;
    color: #000000;
}
.stories-container {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem; 
}
.stories-container2 {
    padding: 1rem;
    border-bottom: 1px solid black;
}
.stories-container3 {
    padding: 1rem;
    border-right: 1px solid black;
}
.stories-container4 {
    padding: 1rem;
}
.case-study {
    margin-left: 5rem; 
}
.proposal-success {
    display: flex;
    background-color: #B9FF66;
    margin: 2rem 4rem 1rem 4rem; 
    border-radius: 40px;
}
.cartoon-img{
    width: 80%;
    margin-top: 4rem;
    /* margin-left: 10rem; */
    border-radius: 30px;
}
.happen-success {
    width: 90%;
    padding-left: 3rem; 
    padding-top: 4rem; 
    padding-bottom: 2rem; 
}
.hr-info {
    border-color: #ffffff;
}

/* pricing page */
.pricing-title {
    margin-left: 5rem; 
}
.price-1 {
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0.06rem 0.2rem; 
    width: 28%;
    padding: 2rem; 
}
.price-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.price-2 {
    background-color: #191A23;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0.06rem 0.2rem;
    width: 28%;
    padding: 2rem;
    margin-left: 1rem; 
    color: #ffffff;
}
.price-3 {
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0.06rem 0.2rem;
    width: 28%;
    padding: 2rem;
    margin-left: 1rem; 
}
.pricelist-section {
    margin-top: 3rem; 
    margin-left: 0;
}
.pricelist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.get-started-btn {
    color: #fdfdfd;
    border-radius: 10px;
    padding: 1rem 2rem; 
    border-width: 0rem;
    background-color: #191A23;
    width: 100%;
    margin-top: 1rem; 
}

.request-quote-btn {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem; 
    width: 100%;
}

.get-started-btn2 {
    color: #000000;
    border-radius: 10px;
    padding: 1rem 2rem; 
    border-width: 0rem;
    background-color: #b9ff66;
    width: 100%;
    margin-top: 1rem; 
}

.request-quote-btn2 {
    background-color: #191A23;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    color: #ffffff;
}

.price-div {
    display: flex;
    align-items: baseline;
}

.price-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-tag {
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 0.3rem 0.6rem; 
    border-radius: 20px;
}

.faq-title1 {
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 0.3rem 0.6rem; 
    border-radius: 20px;    
}

.faq-title2 {
    background-color: #B9FF66;
    color: #000000;
    border: 1px solid black;
    padding: 0.3rem 0.6rem; 
    border-radius: 20px;
}

.faq-title-div {
    margin-top: 5.6rem; 
    margin-left: 5.65rem;
}

.faq-title1 {
    font-weight: bold;
    font-size: 2rem; 
    background-color: #B9FF66;
    padding: 0.3rem 0.3rem; 
    border-radius: 8px;
    border: none;
    width: fit-content;
}

.faq-title2 {
    font-weight: bold;
    font-size: 2rem; 
    background-color: #B9FF66;
    padding: 0.06rem 0.06rem; 
    border-radius: 8px;
    width: fit-content;
    margin-top: -1rem; 
    border: none;
}

.faq-minus-icon {
    margin-left: 32rem; 
}

.faq-plus-icon {
    margin-left: 40rem; 
}

.faq-plus-icon3 {
    margin-left: 42rem; 
}

.faq-plus-icon4 {
    margin-left: 42rem; 
}

.faq-plus-icon5 {
    margin-left: 38rem; 
}

.faq-plus-icon6 {
    margin-left: 29rem; 
}

.faq-consultation-container {
    background-color: #B9FF66;
    margin: 2rem 4rem 1rem 5rem; 
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0rem 0.2rem; 
}

.faq-research-container {
    background-color: #F3F3F3;
    margin: 2rem 4rem 1rem 5rem; 
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0rem 0.2rem; 
}

/* Blog page */
.blog-hero {
    background-color: #F3F3F3;
    border-radius: 30px;
    margin: 2rem 4rem 1rem 4rem; 
    padding: 2rem 1rem;
}

.market-strategy {
    background-color: #d3d3d3;
    border: none;
    color: darkgrey;
    border-radius: 10px;
    width: fit-content;
    padding: 0.3rem; 
    margin-top: 2rem; 
    margin-bottom: 1rem; 
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    align-items: baseline;
    margin-left: 5.6rem;
    margin-top: 3rem; 
}

.hr-blog {
    border-color: dark black;
    margin-left: 4rem; 
    margin-right: 4rem; 
    margin-top: -0.3rem; 
}

.blog-para {
    text-align: justify;
    margin-left: 22rem; 
    margin-top: 3rem; 
    width: 50%;
}

.sarah-content-1 {
    font-size: 1.1rem; 
    word-spacing: 0.3rem; 
}

.blog-para-1 {
    text-align: justify;
    margin-left: 22rem; 
    font-size: 0.9rem; 
    margin-top: 2rem; 
    width: 50%;
}

.strike-div {
    margin-left: 22rem; 
    margin-top: 2rem; 
    width: 50%;
}

.strike-div-1 {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem; 
}

.strike-div-2 {
    background-color: #b9ff66;
    padding: 0.1rem; 
    margin-right: 0.6rem; 
    margin-bottom: 0.3rem; 
}

.strike-div-3 {
    font-size: 1rem; 
    text-align: justify;
    word-spacing: 0.6rem; 
}

.instance-div {
    margin-top: 2rem; 
}

.fact-div {
    justify-content: space-evenly;
    align-content: center;
}

.fact-1 {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0.06rem 0.2rem; 
    padding: 1rem; 
    width: 40%;
    margin-bottom: 1rem; 
    margin-left: 6rem; 
    margin-top: 2rem; 
}

.fact-2 {
    background-color: #b9ff66;
    border: none;
    border-radius: 20px;
    padding: 1rem; 
    width: 50%;
    margin-bottom: 1rem; 
    margin-top: 2rem;
    margin-left: 0.6rem; 
}

.fact-3 {
    background-color: #d3d3d3;
    border: none;
    border-radius: 20px;
    padding: 1rem; 
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 6rem; 
}

.fact-4 {
    background-color: #292A32;
    border: none;
    border-radius: 20px;
    padding: 1rem; 
    color: #ffffff;
    width: 40%;
    margin-bottom: 1rem; 
    margin-left: 0.6rem; 
}

.fact-percentage-1 {
    color: #B9FF66;
}

.fact-percentage-2 {
    font-size: 1.75rem; 
}

.real-world-div {
    margin-left: 22rem; 
    margin-top: 2rem; 
    text-align: justify;
    width: 50%;
}

.key-div {
    margin-left: 22rem; 
    margin-top: 2rem;
    text-align: justify;
    width: 50%;
}

.key {
    margin-bottom: 1rem; 
}

.choose-div {
    margin-left: 22rem; 
    margin-top: 2rem; 
    text-align: justify;
    width: 50%;
}

/* index-page section */
.index-menu{
    padding-left: 4rem;
    padding-right: 4rem;
}

.testimonial-image {
    width: 100%;
    height: auto;
}
.mbpositivus-icon{
    display: none;
}

@media (max-width: 480px) {
    .mbindex-menu{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* .mbpositivus-icon{
        display: block;
    } */
    /* section {
        padding-left: 0.6rem; 
        padding-right: 0.6rem; 
    } */

    .navigation-bar {
        display: none;
    }

    .menu {
        padding: 2rem 0.6rem 0rem 0.6rem; 
    }

    .positivus-icon {
        padding-left: 0.3rem; 
        width: 70%;
        height: 70%;
        /* width: 25%; */
    }

    .navigate {
        display: flex;
        margin-top: 0.6rem; 
        flex-direction: column;
    }

    .dig-1 {
        margin-left: 0.6rem;
        margin-top: 1.5rem; 
    }

    .digfont {
        font-size: 2.7rem; 
        color: #191A23;
    }

    .dig-2 {
        display: none;
        padding-right: 2rem; 
    }

    .illustration {
        margin-left: 0.6rem; 
        width: 85%; 
        height: 72%;
    }

    .mar {
        /* margin-left: 0.6rem; */
        display: block;
        font-size: 1.05rem; 
    }

    #dig-3 {
        margin-left: 0.6rem; 
        width: 95%;
    }
    .align-logos{
        margin-left: 0rem;
    }

    .mb-services{
        text-align: center;
    }

    .illustration {
        display: none;
    }

    .illust {
        display: flex;
        width: 100%; 
        height: 62.5%; 
        /* margin-left: 1rem;  */
    }

    #dig-3 {
        padding: 1rem 6rem; 
    }

    #logos {
        margin-top: 3rem; /* 50px */
        display: flex;
        flex-wrap: wrap;
    }

    .amazon-logo {
        margin-left: 0.3rem;
    }

    .dribble-logo {
        margin-left: 0.3rem;
    }

    .hubspot-logo {
        margin-left: 0.3rem;
    }

    .notion-logo {
        margin-left: 0.3rem;
    }

    .netflix-logo {
        margin-left: 0.3rem;
    }

    .zoom-logo {
        margin-left: 0.3rem;
    }
    .px-sm-0{
        padding-left: 0;
        padding-right: 0;
    }
    .services{
        display: inline;
        margin-left: 2rem;
    }

    .services-2{
        display: none;        
    }

    .mb-servit{
        padding-left: 1.5rem;
    }
    .servic {
        text-align: center;
        display: inline-block;
        margin-top: 1.6rem;
        /* padding-left: 0.6rem; */
    }

    .desc-text{
        font-size: 1.3rem;
    }

    .service-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* margin-left: 1.3rem; */
        /* margin-right: 1.3rem; */
        margin-top: 3.1rem;
    }

    .service-texts1{
        font-size: 1.59rem;
    }

    .mb-cards{
        width: 70%;
    }

    .card1 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.0rem 0.0rem 1.3rem 2.2rem;
    }

    .card-image1 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card-image1 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card-image1 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card-imag {
        width: 25%;
        height: 20%;
    }

    .service-texts1 {
        padding-left: 0.6rem;
    }

    .service-texts2 {
        padding-left: 0.6rem;
    }

    .learn-btn {
        display: none;
    }

    .flexicon {
        display: flex;
        margin-top: 6.3rem;
    }

    .card2 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.5rem 0.0rem 1.3rem 2.2rem;
    }

    .card-image2 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card-imag {
        width: 90%;
        height: 100%;
        /* padding-top: -1rem;
        padding-left: -2rem; */
        padding-right: 1rem
    }

    .service-texts3 {
        padding-left: 0.6rem;
        font-size: 1.6rem;
    }

    .service-texts4 {
        padding-left: 0.6rem;
        font-size: 1.6rem;
    }

    .learn-btn2 {
        display: none;
    }

    .flexicon2 {
        display: flex;
        margin-top: 6.3rem;
    }

    .card3 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.5rem 0.0rem 1.3rem 2.2rem;
    }

    .flexicon3 {
        display: flex;
        margin-top: 6.3rem;
    }

    .card-image3 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card4 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.5rem 0.0rem 1.3rem 2.2rem;
    }

    .service-texts2 {
        padding-left: 0.6rem;
        font-size: 1.6rem;
    }

    .card-image4 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card5 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.5rem 0.0rem 1.3rem 2.2rem;
    }

    .card-image5 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .card6 {
        flex-wrap: nowrap;
        width: 100%;
        padding: 2.5rem 0.0rem 1.3rem 2.2rem;
    }

    .card-image6 {
        margin-left: 0.0rem;
        margin-top: 6.3rem;
    }

    .proposal-div{
        text-align: center;
    }

    .proposal-image {
        display: none;
    }

    .happen {
        padding-left: 2rem;
        padding-top: 1.5rem;
    }

    .happe {
        display: none;
    }

    .hape {
        display: block;
    }

    .proposal {
        margin: 2.5rem 0.6rem 1.3rem 0.6rem;
    }

    .happen2 {
        width: 90%;
    }

    .case {
        /* margin-left: 2.5rem; */
        font-size: 1.9rem;
    }

    .description-container {
        display: none;
    }

    .description-container2 {
        display: block;
        /* margin-left: 1.3rem; */
    }

    .desc-cont1 {
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 2.5rem 0rem;
        color: #ffffff;
        padding: 1.9rem 1.9rem 1.9rem 1.9rem;
    }

    .desc-cont2 {
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 2.5rem 1.3rem;
        color: #ffffff;
        padding: 1.9rem 1.9rem 1.9rem 1.9rem;
        overflow: hidden;
    }

    .desc-cont3 {
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        margin: 2.5rem 1.3rem;
        color: #ffffff;
        padding: 1.9rem 1.9rem 1.9rem 1.9rem;
        overflow: hidden;
    }

    .servics {
        display: none;
    }

    .servics-1 {
        display: block;
        margin: 1.3rem 1.3rem 0.0rem 5.0rem;
        background-color: #b9ff66;
        color: #000000;
        padding: 0.3rem 0.3rem;
        border-radius: 8px;
        font-size: 1.9rem;
        width: fit-content;
    }

    .mb-servic {
        text-align: center;
    }

    .servics-2 {
        display: block;
        margin: 0.0rem 1.3rem 0.0rem 6.9rem;
        background-color: #b9ff66;
        color: #000000;
        padding: 0.3rem 0.3rem;
        border-radius: 8px;
        font-size: 1.9rem;
        width: fit-content;
    }

    .consultation-container {
        display: none;
    }

    .research-container {
        display: none;
    }

    .workingprocess {
        display: block;
    }

    .research-container2 {
        background-color: #F3F3F3;
        margin: 2.5rem 0.6rem 1.3rem 0.6rem;
        border-radius: 50px;
        border: 1px solid black;
        box-shadow: 0.0rem 0.3rem;
    }

    .consult2 {
        display: flex;
        flex-wrap: wrap;
        padding: 1.3rem 1.9rem 1.3rem 1.3rem;
        justify-content: space-between;
    }

    .two2 {
        font-size: 1.9rem;
        padding-top: 0.6rem;
    }

    /* .cplus-icon1 {
        margin-left: 5.6rem;
    } */

    /* .cplus-icon2 {
        margin-left: 1.1rem;
    } */

    /* .cplus-icon3 {
        margin-left: 4.2rem;
    } */

    /* .cplus-icon4 {
        margin-left: 4.3rem;
    } */

    /* .cplus-icon5 {
        margin-left: 4.4rem;
    } */

    /* .cplus-icon6 {
        margin-left: 1.2rem;
    } */

    .research2 {
        font-size: 0.9rem;
        /* padding-left: 2.5rem; */
        padding-top: 1.3rem;
    }
    .research3 {
        font-size: 0.9rem;
        /* padding-left: 2.5rem; */
        padding-top: 0.6rem;
    }

    .operations {
        /* margin-left: 0.6rem; */
        margin-top: 1.3rem;
    }

    .operations-container {
        width: 100%;
        margin-left: 0.0rem;        
    }

    .task1 {
        margin: 0.6rem 1.3rem 1.3rem 1.3rem;
    }

    .task2 {
        margin: 0.6rem 1.3rem 0.6rem 1.6rem;
    }

    .happen3 {
        width: 100%;
        /* margin-left: 1.3rem; */
    }

    .testimonial {
        display: block;
    }

    .testimonial-2 {
        display: none;
    }

    .testimonial-3 {
        display: block;
        text-align: center;
        margin-top: 1.3rem;
    }

    .testimonial-image {
        display: block;
    }

    .contact1 {
        display: block;
    }

    .contact2 {
        margin: 6.3rem 1.3rem 0.0rem 6.3rem;
    }

    .contact3 {
        display: none;
    }

    .message-container {
        display: block;
        /* margin: 1.9rem 0.6rem 1.9rem 0.6rem; */
    }

    .message-1 {
        width: 100%;
        padding-left: 3.1rem;
    }

    .m-one {
        width: 80%;
    }

    .m-two {
        width: 80%;
    }

    .m-three {
        width: 80%;
        margin-bottom: 2rem;
    }

    .message-5 {
        display: none;
    }

    .send-message {
        display: block;
    }

    .message-image{
        display: none;
    }

    /* .happen5 {
        margin-top: 0.0rem;
        margin-left: 0.6rem;
    } */

    .footer-container {
        display: none;
    }

    .footer-container2 {
        display: block;
        background-color: #191A23;        
    }

    .positivus-icon2 {
        margin-top: 3.1rem;
        margin-left: -3.0rem;
    }

    .red2 {
        color: #ffffff;
        text-decoration: none;
        list-style-type: none;        
    }

    .navs {
        list-style-type: none;
        margin-top: 1.3rem;
    }

    .footer-nav2{
        text-align: center;
    }

    .nav-container2 {
        text-align: center;
    }

    .info-spot1 {
        text-align: center;
    }

    .contact-us1 {
        text-align: center;
        font-size: 1.3rem;
        background-color: #b9ff66;
        border-radius: 8px;
        margin-top: 1.9rem;
        /* margin-left: 8.1rem; */
        color: #000000;
        padding: 0.1rem 0.1rem;
        display: inline-block; 
    }

    .email-info1 {
        text-align: center;
        color: #ffffff;
        /* padding-left: 2.5rem; */
        padding-top: 1.3rem;
    }

    .phone1 {
        text-align: center;
        color: #ffffff;
        /* padding-left: 2.5rem; */
        padding-top: 1.3rem;
    }

    .address1 {
        text-align: center;
        color: #ffffff;
        /* padding-left: 1.9rem; */
        padding-top: 1.3rem;
    }

    .subscription1 {
        background-color:#292A32;
        border-radius: 20px;
        margin-top: 1.6rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }

    .subscribe-link1 {
        color: #000000;
        text-decoration: none;
    }

    .sub-email-1 {
        width: 80%;
        margin-top: 1.3rem;
        padding: 0.9rem;
        border-radius: 10px;
        background-color: #292A32;
        /* margin-left: 1.9rem; */
    }

    .happen-8 {
        margin-top: 1.9rem;
    }

    .happen-9 {
        color: #ffffff;
        background-color: #b9ff66;
        padding: 0.9rem;
        border-radius: 10px;
        margin-top: 0.6rem;
        margin-right: 1.9rem;
        margin-left: 1.9rem;
        border-width: 0px;
        width: 80%;
        margin-bottom: 1.3rem;
    }

    .emi-1 {
        color: white;
        border: 1px solid white;
        border-width: 1px;
    }

    .emi-1::placeholder {
        color: #ffffff;
    }  

    .socials1 {
        margin-top: 1.9rem;
        margin-bottom: 1.9rem;
        text-align: center;
    }

    .soc-space{
        margin-right: 0.5rem;
    }

    .hr-info-1 {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }

    .policy-co-1 {
        color: #ffffff;
        text-align: center;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .privacy1 {          
        text-align: center;        
        padding-top: 1.3rem;        
    }

    .privacy2 {
        color: #ffffff;
        text-decoration: none;
    }

    /* about-us mobile */
    .navigation-bar {
        display: none;
    }

    .together {
        display: none;
    }

    .mbtogether {
        display: block;
    }

    .mbtogether-2 {
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }

    .mbtogether-3 {
        margin-top: 18.8rem;
        font-size: 0.9rem;
    }

    .impacts-0 {
        display: block;
    }

    .impact {
        display: none;
    }

    .impacts-1 {
        text-align: center;
        font-size: 1.9rem;
        margin-top: 3.1rem;
        background-color: #b9ff66;
        color: #000000;
        padding: 0.3rem;
        border-radius: 8px;
        width: 50%;
        margin-left: 5.6rem;
    }
    .impacts-2 {
        text-align: center;
        font-size: 1.9rem;
        background-color: #b9ff66;
        color: #000000;
        padding: 0.3rem;
        border-radius: 8px;
        width: 55%;
        margin-left: 5.0rem;
    }

    .impacts-3 {
        display: block;
        text-align: center;
        font-size: 0.9rem;
        margin-top: 1.3rem;
    }

    .impact-desk {
        display: none;
    }

    .company-impact {
        display: none;
    }

    .mbcompany-impact {
        display: block;
    }

    .mbimpact-1 {
        width: 60%;
        text-align: center;
        /* margin-left: 6.3rem; */
    }

    .mbimpact-1 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 9.4%;
        width: 100%;
    }

    .mbimpact-2 {
        width: 60%;
        text-align: center;
    }

    .mbimpact-2 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 9.4%;
        width: 100%;
    }

    .mbimpact-3 {
        width: 60%;    
        text-align: center;
    }

    .mbimpact-3 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 9.4%;
        width: 100%;
    }

    .mbimpact-4 {
        width: 60%;
        text-align: center;  
    }

    .mbimpact-4 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 9.4%;
        width: 100%;
    }

    .mbimpact-5 {
        width: 60%; 
        text-align: center;
        margin-left: 5.0rem;
        margin-top: 0.6rem; 
    }

    .mbimpact-5 .mbspace-top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 6.3%;
        width: 100%;
    }

    .impac {
        padding-left: 1.9rem;
    }

    .impact-line1 {
        display: flex;
        gap: 0.0rem;
        margin-bottom: 0.6rem;
    }
    .impact-line2 {
        display: flex;
        gap: 0rem;
        margin-bottom: 0.6rem;
    }

    .mbjourney {
        margin-left: 2.5rem;
    }

    .mbjourney-1 {
        display: block;
        text-align: center;
        font-size: 0.9rem;
        margin-top: 1.3rem;
    }

    .first-year {
        display: none;
    }

    .second-year {
        display: none;
    }

    .third-year {
        display: none;
    }

    .fourth-year {
        display: none;
    }

    .years-container {
        display: none;
    }

    .mbyears-container {
        display: block;
    }

    .mbfirst-year {
        display: block;
    }

    .mbsecond-year {
        display: block;
    }

    .mbthird-year {
        display: block;
    }

    .mbfourth-year {
        display: block;
    }

    .vector-flex1 {
        padding-right: 3.1rem;
    }

    .vector-flex2 {
        padding-right: 3.1rem;
    }

    .vector-flex3 {
        padding-right: 3.1rem;
    }

    .vector-flex4 {
        padding-right: 3.1rem;
    }

    .year-1 {
        padding-left: 1.9rem;
        padding-bottom: 1.3rem;
        padding-top: 2.5rem;
    }

    .year-2 {
        padding-left: 1.9rem;
        padding-bottom: 1.3rem;
        padding-top: 2.5rem;
    }

    .year-3 {
        padding-left: 1.9rem;
        padding-bottom: 1.3rem;
        padding-top: 2.5rem;
    }

    .year-4 {
        padding-left: 1.9rem;
        padding-bottom: 1.3rem;
        padding-top: 2.5rem;
    }

    .mbcore {
        margin-left: 0.6rem;
    }

    .core-1 {
        width: 100%;
        margin-left: 0rem;
        margin-top: 1.3rem;
    }

    .core-2 {
        width: 100%;
        margin-left: 0rem;
    }

    .core-3 {
        display: none;
    }

    .mbcore-3 {
        display: block;
        width: 100%;
        margin-left: 0rem;
        background-color: #ffffff;
        border: 1px solid black;
        box-shadow: 0rem 0.2rem;
        border-radius: 30px;
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    }

    .core-4 {
        width: 100%;
        margin-left: 0rem;
    }

    .mbcore-word {
        display: none;
    }

    .mbcore-word1 {
        display: block;
        font-size: 0.9rem;
    }

    .mbcore-word2 {
        display: block;
        font-size: 0.9rem;
    }

    .mbcore-word3 {
        display: block;
        font-size: 0.8rem;
    }

    .mbcore-word4 {
        display: block;
        font-size: 0.8rem;
    }

    .corehr {
        margin-right: 0rem;
        height: 0.1rem;
    }

    .coreword-2 {
        padding-bottom: 9.4rem;
    }

    .coreword-3 {
        padding-bottom: 9.4rem;
    }

    .founder-remarks {
        display: none;
        /* background-color: #191A23;
        border-radius: 30px;
        margin: 6.3rem 9.4rem 1.3rem 5rem;
        box-shadow: 0.1rem 0.2rem; */
    }

    .mbfounders-words {
        /* display: block; */
        font-size: 2.5rem;
        color: #ffffff;
        padding: 1.9rem 1.9rem 12.5rem 1.9rem;
    }

    .mbfounder-remarks {
        display: block;
        background-color: #191A23;
        border-radius: 30px;
        /* margin: 6.3rem 9.4rem 1.3rem 5rem; */
        box-shadow: 0.1rem 0.2rem;
        margin-top: 2.5rem;
    }

    .awardd {
        margin-left: -1.3rem;
    }

    .awardd-1 {
        display: block;
        text-align: center;
        padding-top: 1.9rem;
        font-size: 0.9rem;
    }

    .awards-container {
        display: none;
    }

    .mbawards-container {
        display: block;
        margin-left: 0.6rem;
    }

    .container-1 {
        display: flex;
        gap: 0.6rem;
        margin-top: 1.3rem;
    }

    .container-2 {
        display: flex;
        gap: 0.6rem;
        margin-top: 0.6rem;
    }

    .mbaward-1 {
        background-color: #F3F3F3;
        border-radius: 40px;
    }

    .mbaward-2 {
        background-color: #F3F3F3;
        border-radius: 40px;
    }

    .mbaward-3 {
        background-color: #F3F3F3;
        border-radius: 40px;
    }

    .mbaward-4 {
        background-color: #F3F3F3;
        border-radius: 40px;
    }

    .mbaward-title {
        font-size: 0.8rem;
        padding: 9.4rem 1.3rem 0.6rem 1.3rem;
    }

    .mbaward-main {
        font-size: 0.8rem;
        padding: 0.6rem 1.3rem 1.9rem 1.3rem;
    }

    .team-text1 {
        display: none;
    }

    .team-text2 {
        display: block;
        text-align: center;
    }

    .enquiry {
        background-color: #B9FF66;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 0rem 0.2rem;
        margin: 3.1rem 0rem 1.3rem 0rem;
        padding: 0rem 0rem 0rem 0rem;
    }
    .explore {
        color: #ffffff;
        background-color: #191A23;
        padding: 0.9rem 2.5rem;
        border-radius: 8px;
        border-width: 0rem;
        margin-top: 1.3rem;
        margin-left: 4.4rem;
        width: 60%;
        margin-bottom: 15.6rem;
    }

    .career-link {
        color: #ffffff;
        text-decoration: none;
    }

    .join-team {
        font-size: 1.6rem;
        padding-bottom: 1.3rem;
        text-align: center;
        margin-top: 2.5rem;
    }


    /* services-mobile */


}

@media (min-width: 1500px) {
    .msg-post {
    transform: translateX(22rem);   
}
}
